__pycache__
.vscode/*
!.vscode/launch.json
run_scripts/*/*
src/dataset_generator/output
src/file_comparator/output
src/file_slicer/*
src/solution_generator/tests/*
!src/solution_generator/tests/*.test
